/* .buttonは後でコンポーネントとして分離する予定 */
.button {
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  background: #000;
  color: #fff;
}
/* .button ここまで分離 */

.title {
}

.form {
  &__inputItems {
    list-style: none;
  }
}
